# deps
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
next-env.d.ts

# production
/build

# prisma
/prisma/*.db

# env
.env
.env*.local

# misc
*.log
.devserver.log
.DS_Store
*.pem
npm-debug.log*
.vercel
*.tsbuildinfo
